@import "./partials/resets";
@import "./partials/grid";
@import "./partials/mixins.scss";

html {
  font-family: "Poppins", sans-serif;
}
//Colors
$primary_text: #48cab2;
$grey_text: #888888;
$dark_text: #333333;
$light_gray: #ebebeb;

//
body {
  background-color: bisque;
  background-size: cover;
}

nav {
  /***offer nav bar***/
  & .offer_info {
    background-color: #fff;
    border-bottom: 2px solid $light_gray;
  }

  & .offer_items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 12px;
    margin: 0 24px;
    font-size: 12px;
  }

  & .offer_item {
    color: $grey_text;

    & .offer_text {
      cursor: pointer;
      color: $dark_text;
      font-weight: 600;
      position: relative;

      &::before {
        @include hoverUnderline($dark_text);
      }
      &:hover::before {
        @include hoverScale;
      }
    }
    & .offer_discover {
      color: $primary_text;
      cursor: pointer;
      font-weight: 600;
      position: relative;

      &::before {
        @include hoverUnderline($primary_text);
      }
      &:hover::before {
        @include hoverScale;
      }
    }

    & .offer_social_link {
      position: relative;
      margin: 0 16px;
      text-decoration: none;
      color: $grey_text;

      &::before {
        @include hoverUnderline($dark_text);
      }

      &:hover::before {
        @include hoverScale;
      }
    }
  }

  /***menu navigation desktop***/
  .nav_bar {
    display: flex;
    text-align: center;
    background-color: #fff;
    align-items: center;
    padding: 12px 0;

    & .nav_utils {
      display: flex;
      justify-content: flex-end;

      & .util_icon {
        font-size: 20px;
        margin: 0 18px;
      }
    }

    & .brand_logo img {
      max-width: 140px;
    }
  }

  .nav_active {
    font-weight: 500;
    color: $primary_text;
  }

  .secondary_nav {
    background-color: #fff;

    & .secondary_nav_items {
      display: flex;
      justify-content: center;
      padding-bottom: 18px;
    }

    & .sec_nav_item {
      margin: 0 16px;
      text-decoration: none;
      font-size: 14px;
      position: relative;

      &::before {
        @include hoverUnderline($primary_text);
      }

      &:hover::before {
        @include hoverScale;
      }
    }
  }
}

.slider_container {
  position: relative;
}

.slides {
  overflow: hidden;
  animation-name: fade;
  animation-duration: 0.5s;
  display: none;
  position: relative;

  & .slides_captions {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);

    & .slides_title_1 {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 20px;
      color: #fff;
      letter-spacing: 2px;
    }

    & .slides_title_2 {
      font-size: 42px;
      padding: 16px 0px;
      color: #fff;
      font-weight: 600;
    }

    & .slides_title_3 {
      color: #fff;
      text-transform: none;
    }

    & .slides_btn {
      margin: 30px 0;
      padding: 10px 0;
      & a {
        background-color: $primary_text;
        text-decoration: none;
        padding: 10px 16px;
        color: #fff;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $dark_text;
        }
      }
    }
  }

  & .slides_images img {
    width: 100%;
  }
}

.banner_dot_container {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 16px;
  transform: translate(-50%);

  & .banner_dot {
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background: #ffffff33;
    padding: 4px;
    margin: 0 2px;
  }

  & .slider_active {
    background: #fff;
  }
}
