@import "./variables/colors";
@import "./partials/resets";
@import "./partials/grid";
@import "./partials/mixins.scss";
@import "./layouts/home";
@import "./layouts/collections";
@import "./layouts/product_page";
@import "./layouts/checkout";

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.spacer-60 {
  padding: 60px;
}

.spacer-30 {
  padding: 30px;
}

body {
  background-color: #fff;
  background-size: cover;
}

a {
  color: $dark_text;
}

hr {
  border-top: 1px solid $smoke;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
